<div class="container mt-2">
    <div *ngIf="errorMessage" class="text-danger"> 
        {{errorMessage}}
    </div>
    <div class="card" *ngIf="customers">
      
        <div class="card-header">Customers</div>
        <div class="card-body">
          <form [formGroup]="searchCustomerForm" (ngSubmit) = "handleSearchCustomer()">
                    <div class="input-group">
                      <label  class="input-group-text">Keyword:</label>
                      <input type="text" class="form-control" formControlName="keyword">
                      <button class="btn btn-info">
                        <i class="bi bi-search"></i>
                      </button>         
                    </div>
        </form>
                   
        <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let c of customers">
                        <td>{{c.id}}</td>
                        <td>{{c.name}}</td>
                        <td>{{c.email}}</td>
                        <td>
                            <button (click) = "handleDeleteCustomer(c)" class="btn btn-danger me-5">
                              <i class="bi bi-trash"></i>
                            </button>
                            <button (click) = "handleCustomerAccounts(c)" class="btn btn-success  ">
                                Accounts
                            </button>
                        </td>
                    </tr>                
                </tbody>
            </table>
        </div>
    </div>
</div>
